<div class="row">
    <div class="large-12 columns">
        <div class="row">
            <h4>Development</h4>
        </div>

        <div class="row">
            <div class="large-8 columns ">
                <label>Sequence test</label>
                <input type="text" ng-model="input.sequence"/>
                <button ng-disabled="!piano.isReady || piano.sequenceInProgress" class="tiny button" type="button"
                        ng-click="piano.playOneNoteSequence(input.sequence)">Play
                </button>
            </div>
            <div class="large-4 columns ">
                <label>All keys press test</label>
                <input type="number" ng-model="input.duration" placeholder="Enter duration"/>
                <button class="tiny button" ng-disabled="!piano.isReady || piano.sequenceInProgress || !input.duration"
                        ng-click="piano.playAll(input.duration)" type="button">
                    Push
                </button>
            </div>
        </div>
        <div class="row" style="margin-top:20px">
            <fieldset>

                <legend>Instant play</legend>
                <div class="large-12 columns ">
                    <div class="row">
                        <div style="width:500px; height:100px;margin:auto">
                            <div data-ng-repeat="key in piano.keys"
                                 style="height:100%; float:left;width:18%;border:1px solid;margin:5px;text-align: center;padding-top:7%"
                                 data-ng-style="{'background-color':key.start ? 'red':'white'}"
                                 data-ng-click="piano.playOneNoteSequence(key.id+',500')"
                                 data-ng-bind="key.note"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-centered columns small-12 large-4">
                            <input type="text" keyboard keys="piano.keys" placeholder="use m j k l ; to play"/>
                        </div>
                    </div>

                </div>
            </fieldset>
        </div>
        <!--<div class="row">-->
        <!--<div class="large-4 columns ">-->
        <!--<label>One note test</label>-->
        <!--<input type="text" ng-model="input.note"/>-->
        <!--<button ng-disabled="!piano.isReady || piano.sequenceInProgress ||!input.note" class="tiny button"-->
        <!--type="button"-->
        <!--ng-click="piano.playOneNoteExact(input.note)">Play-->
        <!--</button>-->
        <!--</div>-->

        <!--<div class="large-4 columns  ">-->
        <!--<button ng-disabled="!piano.isReady || piano.sequenceInProgress" class="tiny button bottom-align "-->
        <!--type="button"-->
        <!--ng-click="piano.playChordsDemo1()">Chord demo 1-->
        <!--</button>-->
        <!--</div>-->
        <!--</div>-->

        <div class="row" style="margin-top:20px">
            <div class="small-3 columns">
                <label>Recording</label>
                <button class="tiny button" ng-click="piano.isRecording () ? active.recordings.push(piano.stopRecording()): piano.startRecording()">{{piano.isRecording() ? 'Stop':'Start'}}</button>
                <button class="tiny button" ng-disabled="!active.recordings.length" ng-click="piano.playOneNoteSequence(active.recordings[active.recordings.length-1])">Play last</button>
            </div>
            <div class="small-3 columns end">
                <label>Continuous recording</label>
                <button class="tiny button" ng-click="contRec.status==='stop' ? contRec.run(): contRec.status='stop'">{{contRec.status==='stop' ? 'Start':'Stop'}}</button>
                <button class="tiny button" style="width:100px" ng-class="contRec.status==='recording' ? 'warning':'info'"> {{ contRec.status}}</button>
            </div>
            <div class="small-3 columns end">
                <label>Delay tests</label>
                <button class="tiny button" ng-repeat="seq in devel.testSeq track by $index" ng-disabled="isRecording()" ng-click="devel.run(seq)">Test {{$index}}</button>
            </div>
            <div class="small-3 columns end">
                <label> Manual calibration</label>
                <button class="tiny button" ng-click="calibrateDelays()">Servo</button>
                <button class="tiny button" ng-click="calibrateKeyDetector()">Detector</button>
            </div>
        </div>


        <!--<div class="row" ng-if="false">-->
        <!--<label>Local storage - All Key history</label>-->
        <!--<textarea style="font-size:small">-->
        <!--keyHist= {{locker.get('keyHist')|json}}-->
        <!--</textarea>-->
        <!--</div>-->

        <div class="row">
            <div class="small-centered columns small-12 large-12">
                <fieldset>
                    <legend>Key history</legend>
                    <div style="height:100px;overflow-y: auto">
                     <div ng-repeat="tone in piano.keyHist track by $index ">
                    <small>{{tone | json}}</small>
                         </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row" style="margin-top:20px" ng-if="true">
            <fieldset>
                <legend>Recorded</legend>
                <div style="height:100px;overflow-y: auto">
                    <small>
                        <div style="font-size:x-small;">
                            {{active.recordings[active.recordings.length-1] | json}}
                        </div>
                    </small>
                </div>
            </fieldset>
        </div>
        <div class="row" ng-repeat="recording in active.recordings track by $index">
            <div class="small-12 columns" style="height:25px;margin-top:5px;margin-bottom:5px">
                <div ng-repeat="note in recording track by $index" class="keybar" ng-style="note.style">
                    {{note.keyId}} ({{note.duration}}) &nbsp;&nbsp;{{note.gap}} &nbsp;&nbsp; {{note.nextMerge ? 'M':''}}
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="row">-->
<!--<div class="large-12 columns ">-->
<!--<label>Audio sensor changes /second</label>-->

<!--<p data-ng-bind="piano.audioChangesPerSecond"></p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="large-12 columns ">-->
<!--<label>Value/average</label>-->
<!--<canvas style="border:1px solid" id="scope1" class="scope" width="900" height="200"></canvas>-->
<!--</div>-->
<!--</div>-->