<div class="row">
    <div class="large-12 columns">
        <div class="row">
            <h4>Results</h4>
        </div>
        <div class="row">
            <div class="small-1 columns">
                <label class="inline">Experiment:</label>
            </div>
            <div class="small-10 columns">
                <select ng-model="state.experiment" ng-options="v as formatExperiment(v) for ( k, v ) in data.experiment"/>
            </div>
        </div>
        <div class="row">
            <div class="small-4 columns">
                <!--<button class="button tiny" ng-click="processAllResult()"> Process All Results</button>-->
                <fieldset style="padding:10px">
                    <legend>Calculate errors</legend>
                    <ul class="button-group">
                        <li><a href="" class="button tiny" ng-click="processExperimentOridinalResult(state.experiment)" ng-disabled="!state.experiment">Ordinal</a></li>
                        <li><a href="" class="button tiny" ng-disabled="!state.experiment" ng-click="processExperimentTemporalResult(state.experiment)">Temporal</a></li>
                    </ul>
                </fieldset>
            </div>
            <div class="small-8 columns">
                <!--<button class="button tiny" ng-click="processAllResult()"> Process All Results</button>-->
                <fieldset style="padding:10px">
                    <legend>Export</legend>
                    <ul class="button-group">
                        <li><a href="" class="button tiny" ng-click="getOrdinalCsv()" ng-disabled="">Ordinal - csv-all</a></li>
                        <li><a href="" class="button tiny" ng-click="getTemporalCsv()" ng-disabled="">Temporal - csv-all</a></li>
                        <li><a href="" class="button tiny" ng-disabled="!state.experiment"  ng-click="getOrdinalCsvPerExperiment()" ng-disabled="">Ordinal - csv-exp</a></li>
                        <li><a href="" class="button tiny" ng-disabled="!state.experiment" ng-click="getTemporalCsvPerExperiment()" ng-disabled="">Temporal - csv-exp</a></li>
                        <li><a href="" class="button tiny" ng-click="getAllData()" >All data</a></li>
                    </ul>
                </fieldset>
            </div>
        </div>
        <fieldset style="padding:10px">
            <legend>Error evaluation data:</legend>
            <div class="row" style="margin-bottom:20px">
                <div class="small-6 columns">
                    <ul class="button-group">
                        <li><a href="" ng-class="{'secondary':state.resultPart!=='ordinal'}" class="button tiny " ng-click="state.resultPart='ordinal'">Ordinal</a></li>
                        <li><a href="" ng-class="{'secondary':state.resultPart!=='temporal'}" class="button tiny " ng-click="state.resultPart='temporal'">Temporal</a></li>
                        <li><a href="" ng-class="{'secondary':state.resultPart!=='ordinalAvg'}" class="button tiny " ng-click="state.resultPart='ordinalAvg'">Ordinal Avg.</a></li>
                        <li><a href="" ng-class="{'secondary':state.resultPart!=='temporalAvg'}" class="button tiny " ng-click="state.resultPart='temporalAvg'">Temporal Avg.</a></li>
                    </ul>
                </div>
                <div class="small-5-columns end">
                    <ul class="button-group" style="float :right">
                        <li><a href="" class="button tiny " ng-click="state.charts=false" ng-class="{'secondary':state.charts}">Show raw data</a></li>
                        <li><a href="" class="button tiny " ng-click="state.charts=true" ng-class="{'secondary':!state.charts}">Show chart</a></li>
                    </ul>
                </div>
            </div>
            <div class="row" ng-if="!state.charts">
                <div class="small-12 columns">
                    <div ng-repeat="r in model.select('result','experiment',state.experiment.id)">
                        <label>{{formatResult(r)}}</label>
                        <small>{{r.temporalProgress.presented |json}}</small>
                        <div ng-repeat="d in r.temporalProgress.measured">
                            <div style="padding:5px">
                                <small> {{d|json}}</small>
                            </div>
                        </div>
                        <div ng-repeat="d in r.temporalProgress.processed">
                            <div style="padding:5px">
                                <small> {{d|json}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="state.charts">
                <div class="small-12 columns" style="margin-top:10px" ng-if="state.resultPart==='ordinal'">
                    <div ng-repeat="chart in charts.ordinalError">
                        <div google-chart chart="chart" style="width:100%;height:150px"></div>
                    </div>
                </div>
                <div class="small-12 columns" ng-if="state.resultPart==='temporal'" style="margin-top:10px">
                    <div ng-repeat="chart in charts.temporalError">
                        <div google-chart chart="chart" style="width:100%;height:150px"></div>
                    </div>
                </div>
            </div>
        </fieldset>

    </div>
</div>