<div class="row">
    <div class="large-12 columns">
        <div class="row">
            <h4>Setup</h4>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <div class="row">
                    <div class="small-12 columns">
                        <fieldset>
                            <legend>Experiment</legend>
                            <table class="narrow">
                                <thead>
                                <tr>
                                    <th>Remove</th>
                                    <th>Id</th>
                                    <th>Status</th>
                                    <th>Description</th>
                                    <th>Setup Id</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat=" item in data.experiment " >
                                    <td class="center"><a ng-click="removeItem('experiment',item.id)">X</a></td>
                                    <td ng-bind="item.id"></td>
                                    <td ng-bind="item.status"></td>
                                    <td><input type="text" ng-change="changed()" ng-model="item.description"/></td>
                                    <td><select ng-model="item.setup" ng-options="v.id as v.id for (k , v) in data.setup" required/></td>
                                </tr>
                                <tr>
                                    <form novalidate name="newExperiment">
                                        <td colspan="2">
                                            <button ng-disabled="newExperiment.$invalid"
                                                    ng-click="newItem.exp.status='new';addItem('experiment',newItem.exp)" class="tiny button"> Add new
                                            </button>
                                        </td>
                                        <td></td>
                                        <td><input type="text" ng-change="changed()" ng-model="newItem.exp.description"/></td>
                                        <td><select name="sequencePool" ng-model="newItem.exp.setup" ng-options="v.id as v.id for ( k, v ) in data.setup" required/>
                                        </td>
                                    </form>
                                </tr>
                                </tbody>
                            </table>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <fieldset>
                            <legend>Conditions setups</legend>
                            <table class="narrow">
                                <thead>
                                <tr>
                                    <th>Remove</th>
                                    <th>Id</th>
                                    <th>Audio</th>
                                    <th>Haptic</th>
                                    <th>Visual</th>
                                    <th>Countoff</th>
                                    <th>Training time</th>
                                    <th>Playback time</th>
                                    <th>Repeat</th>
                                    <th>Sequence pool</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat=" item in data.setup ">
                                    <td class="center"><a ng-click="removeItem('setup',item.id)">X</a></td>
                                    <td ng-bind="item.id"></td>
                                    <td><input type="checkbox" ng-change="changed()" ng-model="item.audio"/></td>
                                    <td><input type="checkbox" ng-change="changed()" ng-model="item.haptic"/></td>
                                    <td><input type="checkbox" ng-change="changed()" ng-model="item.visual"/></td>
                                    <td><input type="number" ng-change="changed()" ng-model="item.countoff" min="0"/></td>
                                    <td><input type="number" ng-change="changed()" ng-model="item.trainDur" min="0"/></td>
                                    <td><input type="number" ng-change="changed()" ng-model="item.playDur" min="0"/></td>
                                    <td><input type="number" ng-change="changed()" ng-model="item.repeat" min="0" max="50"/></td>
                                    <td><select ng-model="item.sequencePool" ng-options="v.id as v.id for (k , v) in data.sequencePool" required/>
                                    </td>
                                </tr>
                                <tr>
                                    <form novalidate name="newSetup">
                                        <td colspan="2">
                                            <button ng-disabled="newSetup.$invalid"
                                                    ng-click="addItem('setup',newItem.setup)" class="tiny button"> Add new
                                            </button>
                                        </td>
                                        <td><input type="checkbox" ng-change="changed()" ng-model="newItem.setup.audio"/></td>
                                        <td><input type="checkbox" ng-change="changed()" ng-model="newItem.setup.haptic"/></td>
                                        <td><input type="checkbox" ng-change="changed()" ng-model="newItem.setup.visual"/></td>
                                        <td><input name="countoff" type="number" ng-change="changed()" required ng-model="newItem.setup.countoff" min="0"/></td>
                                        <td><input name="trainDur" type="number" ng-change="changed()" required ng-model="newItem.setup.trainDur" min="0"/></td>
                                        <td><input name="playDur" type="number" ng-change="changed()" required ng-model="newItem.setup.playDur" min="0"/></td>
                                        <td><input name="repeat" type="number" ng-change="changed()" required ng-model="newItem.setup.repeats" min="0" max="50"/></td>
                                        <td><select name="sequencePool" ng-model="newItem.setup.sequencePool" ng-options="v.id as v.id for ( k, v ) in data.sequencePool" required/>
                                        </td>
                                    </form>
                                </tr>
                                </tbody>
                            </table>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <fieldset>
                            <legend>Sequence Pools</legend>
                            <table class="narrow">
                                <thead>
                                <tr>
                                    <th>Remove</th>
                                    <th>Id</th>
                                    <th>Sequence Ids</th>
                                    <th>Size</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat=" item in data.sequencePool ">
                                    <td class="center"><a ng-click="removeItem('sequencePool',item.id)">X</a></td>
                                    <td ng-bind="item.id"></td>
                                    <td><input type="text" ng-change="changed()" ng-model="item.sequence"
                                               foreign-key="sequence" many></td>
                                    <td ng-bind="item.sequence.length"></td>

                                </tr>
                                <form novalidate name="newSequencePool">
                                    <tr>
                                        <td colspan="2">
                                            <button ng-disabled="newSequencePool.$invalid"
                                                    ng-click="addItem('sequencePool',newItem.sequencePool)" class="tiny button"> Add new
                                            </button>
                                        </td>
                                        <td colspan="2">
                                            <input name="sequence" type="text" ng-model="newItem.sequencePool.sequence">
                                        </td>
                                    </tr>
                                </form>
                                </tbody>
                            </table>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <fieldset>
                            <legend>Sequences</legend>
                            <div>
                                <table class="narrow">
                                    <thead>
                                    <tr>
                                        <th>Remove</th>
                                        <th>Id</th>
                                        <th>Definition</th>
                                        <th>Length</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat=" item in data.sequence " >
                                        <td class="center"><a ng-click="removeItem('sequence',item.id)">X</a></td>
                                        <td ng-bind="item.id"></td>
                                        <td><input type="text" ng-change="changed()" ng-model="data.sequence[item.id]"
                                                   sequence></td>
                                        <td>{{item.keyIds.length}}</td>
                                        <td><a ng-click="piano.playOneNoteSequence(item.keyIds,item.durations)">Play</a></td>
                                        <td><a ng-click="piano.playAudioSequence(item.id,1)">Audio</a></td>
                                        <td><a ng-click="">Record audio</a></td>
                                        <td><a ng-click="piano.recordHaptic(item.id,item.keyIds,item.durations)">Record haptic</a></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <button ng-disabled="!newItem.sequence"
                                                    ng-click="addItem('sequence',newItem.sequence)" class="tiny button"> Add new
                                            </button>
                                        </td>
                                        <td colspan="6">
                                            <input type="text" ng-model="newItem.sequence">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="false">
    <div class="large-4 columns">
        <label>Service storage</label>

        <div class="row">
            <pre>experiment= {{data.experiment|json}}</pre>
            <pre>sequence= {{data.sequence|json}}</pre>
            <pre>sequenPool = {{data.sequencePool |json}}</pre>
            <pre>setup= {{data.setup|json}}</pre>
            <pre>result= {{data.result|json}}</pre>
        </div>
    </div>
    <div class="large-4 columns">
        <label>Local storage</label>

        <div class="row">
            <pre>experiment= {{locker.get('experiment')|json}}</pre>
            <pre>sequence= {{locker.get('sequence')|json}}</pre>
            <pre>sequenPool = {{locker.get('sequencePool') |json}}</pre>
            <pre>setup= {{locker.get('setup')|json}}</pre>
            <pre>result= {{locker.get('result')|json}}</pre>
        </div>
    </div>
</div>