<div class="row">
    <div class="large-12 columns">
        <div class="row">
            <h4>About</h4>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <div class="row">
                </div>
            </div>
        </div>
    </div>

</div>
