/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.bottom-align {
    margin: 1.4rem 0 0;

}

button.tiny, .button.tiny {
    padding-top: 0.3rem;
    padding-right: 1.25rem;
    padding-bottom: 0.35rem;
    padding-left: 1.25rem;
    font-size: 0.6875rem;
    margin: 0;
}

.top-bar a[disabled] {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: grey !important;

}

html {
}

td.center {
    text-align: center;
}

table.narrow {
    width: 100%
}

table.narrow tr td input, table.narrow tr th input {
    margin-bottom: 0;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    height: 1.4rem;
}

table.narrow tr td select, table.narrow tr th select {
    margin-bottom: 0;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    height: 1.4rem;
}

table.narrow tr th, table.narrow tr td {
    border: none;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem
}

.keybar {
    height: 18px;
    font-size: x-small;
    text-align: center;
    color: white;
    border: 1px solid black;
}