<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="hapticPiano" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="hapticPiano" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="hapticPiano" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="hapticPiano" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sequence evaluator</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/foundation.css"/>
    <script src="./libs/vendor/modernizr.js"></script>
    <link rel="stylesheet" href="app.css">
</head>
<body ng-controller="MainController">


<nav ng-hide="hideMenu || active.testing.status==='running'"class="top-bar" data-topbar role="navigation">
    <!--<ul class="title-area">-->
    <!--<li class="name">-->
    <!--<h1><a href="#">My Site</a></h1>-->
    <!--</li>-->
    <!--&lt;!&ndash; Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone &ndash;&gt;-->
    <!--<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>-->
    <!--</ul>-->

    <section class="top-bar-section">
        <ul class="right">
            <li><select ng-model="active.globalFolder" style="background-color: grey; padding: 0; margin: 5px 0 0;">
                <option value="1" >1</option>
                <option value="2" >2</option>
                <option value="3" >3</option>
            </select>
            </li>
            <li style="max-width: 550px"><a style="font-size:x-small;color:#BC7A00 !important;max-width: 500px" disabled data-ng-bind="actionInfo(actionPos)"></a></li>
            <li><input style="width:15px;background-color:grey;border:none;padding:0;" type="number" ng-model="actionPos" max="{{status.actions.length-1}}" min="0" value="0"/></li>
            <li><a ng-click="saveAll()">Save</a></li>
            <li><a data-ng-click="locker.forget('keyHist');piano.keyHist=[]"> Clear keys</a></li>
        </ul>

        <!-- Left Nav Section -->
        <div auto-active>
            <ul class="left">
                <li><a href="#/about">About</a></li>
                <li><a href="#/experiment">Experiment</a></li>
                <li><a href="#/setup">Setup</a></li>
                <li class="active"><a href="#/devel">Development</a></li>
                <li><a href="#/results">Results</a></li>

                <!--<li><a href=""><input type="text" keyboard keys="piano.keys" placeholder=" play - use [mjkl;]"/></a></li>-->
            </ul>
        </div>

    </section>
</nav>
<div class="row collapse">
    <div class="small-2 columns ">
        <button ng-click="active.testing.status='stopped'" class="button expand" title="Stop testing" style="background-color: transparent"></button>
    </div>
    <div class="small-10 columns ">
        <button ng-click="hideMenu=!hideMenu" class="button expand" title="Hide/Show Menu toogle" style="background-color: transparent"></button>
    </div>
</div>


<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
                                                                                                                    your browser</a> to improve your experience.</p>
<![endif]-->

<div ng-view></div>


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="./libs/dtw.js"></script>
<script src="./libs/Breakout.js"></script>
<script src="./libs/jquery.min.js"></script>
<script src="./libs/requestAnimFrame.js"></script>
<script src="./libs/foundation.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="./libs/angular/angular-locker.js"></script>
<script src="./libs/angular/angular.audio.js"></script>
<script src="./libs/angular/FileAPI.js"></script>
<script src="./libs/angular/ng-file-upload-all.js"></script>
<script src="./libs/levenshtein.js"></script>
<script src="devel/devel.js"></script>
<script src="experiment/experiment.js"></script>
<script src="setup/setup.js"></script>
<script src="results/results.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="./libs/angular/ng-google-chart.js"></script>
<script src="app.js"></script>

<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
</body>
</html>
