<div class="row" ng-hide="state.testing.status==='running'">
    <div class="large-12 columns">
        <div class="row">
            <h4>Experiments</h4>
        </div>
        <div class="row">
            <div class="small-2 columns">
                <label class="inline">Experiment:</label>
            </div>
            <div class="small-10 columns">
                <select ng-model="state.experiment" ng-options="v as formatExperiment(v) for ( k, v ) in data.experiment"/>
            </div>
        </div>
        <div class="row" data-ng-if="state.experiment">
            <div class="small-12 columns">
                <table class="narrow">
                    <thead>
                    <tr>
                        <td></td>
                        <th>Sex</th>
                        <th>Age</th>
                        <th>Name</th>
                        <th>Comment</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <form novalidate name="newResult">
                            <td colspan="1">
                                <button ng-disabled="newResult.$invalid"
                                        ng-click="newItem.r.status='new';newItem.r.experiment=state.experiment.id;model.addItem('result',newItem.r);" class="tiny button"> Add new
                                </button>
                            </td>
                            <td>
                                <select ng-model="newItem.r.sex">
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </td>
                            <td><input type="number" ng-change="changed()" ng-model="newItem.r.age"/></td>
                            <td><input type="text" ng-change="changed()" ng-model="newItem.r.name"/></td>
                            <td><input type="text" ng-change="changed()" ng-model="newItem.r.comment"/></td>
                            </td>
                        </form>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" data-ng-if="state.experiment">
            <div class="small-2 columns">
                <button ng-disabled="state.result.status==='finished'" class="button prefix" ng-click="startTesting()">Test</button>
            </div>
            <div class="small-4 columns ">
                <select ng-model="state.result" ng-options="r as formatResult(r) for r in model.select('result','experiment',state.experiment.id) track by r.id"/>
            </div>
            <div class="small-2 columns">
                <button class="button prefix" ng-disabled="!data.result[state.result.id]" ng-click="clearResult(state.result)">Clear</button>
            </div>
            <div class="small-2 columns">
                <button class="button prefix" ng-disabled="!data.result[state.result.id]" ng-click="deleteResult(state.result)">Delete</button>
            </div>

        </div>

    </div>
</div>
<div class="row">
    <div class="small-4 small-centered columns">
        <button class="extended secondary disabled" ng-if="state.experiment && state.result">Completed trial counter:{{state.result.data.length}}/{{setup().repeat}}</button>
    </div>
</div>
<div class="row" ng-show="state.testing.status==='running'" style="position:relative; top:300px">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-4 columns">
                <div class="row">
                    <div class="large-12 columns">
                        <button class=" large button expand disabled" ng-class="state.testing.stage==='observation' ? 'success':'secondary'">Observation</button>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        <button class=" button disabled expand" ng-class="state.testing.stage==='observation' && setup().haptic ? 'success':'secondary'">Haptic</button>
                    </div>
                    <div class="large-6 columns">
                        <button class="disabled button expand" ng-class="state.testing .stage==='observation' && setup().audio ? 'success':'secondary'">Audio</button>
                    </div>
                </div>
            </div>
            <div class="large-4 columns" style="text-align:center">
                <span ng-show="state.testing.stage==='overview'">Start in : {{countoff}}</span>
                <span ng-show="state.testing.stage==='ocountoff'">Wait</span>
            </div>
            <div class="large-4 columns">
                <button class="disabled large  expand button" ng-class="state.testing.stage==='playback' ? 'success':'secondary'">Playback</button>
            </div>
        </div>
    </div>
</div>